<!DOCTYPE html>
<html class="min-h-screen flex flex-col">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('build/images/logo.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('build/images/logo.png') }}">
        <link rel="shortcut icon" href="{{ asset('build/images/logo.png') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

    <body class="flex flex-col flex-1">
        <header class="sticky top-0 z-50 bg-gray-900 text-white p-6">
            <div class="container mx-auto flex justify-between items-center">
                <div class="flex items-center gap-3">
                    <div class="w-8 h-8" style="width: 90px; height: 90px;">
                        <img src="{{ asset('build/images/logo.png') }}" alt="Logo CV Maker" class="w-full h-full object-contain" />
                    </div>
                    <h1 class="text-2xl font-bold text-white tracking-wide ml-[-2rem]">Maker</h1>
                </div>
                {% if app.user %}
                    <div class="flex items-center gap-4">
                            <span class="text-2xl font-bold text-white tracking-wide">
                                {{ app.user.firstname|capitalize }}
                            </span>
                        <a href="{{ path('app_logout') }}" title="Déconnexion" class="w-8 h-8 flex items-center justify-center">
                            <img src="{{ asset('build/images/exit.png') }}" alt="Déconnexion" class="w-8 h-8 object-contain" />
                        </a>
                    </div>
                {% endif %}
            </div>
        </header>

        <main class="flex-1 flex items-center justify-center">
            {% block body %}
                {{ turbo_stream }}
            {% endblock %}
        </main>

        <footer class="bg-gray-100 text-center py-6 mt-12 border-t text-sm text-gray-600 section-background">
            <p>&copy; {{ "now"|date("Y") }} CVMaker. Tous droits réservés.</p>
        </footer>
    </body>
</html>